<% if (title) { %>
<h1><%- title %></h1>
<% } else {
  res.redirect('/')
} %>
<p>Confirm Deletion - The delete is permanent.</p>
<form action="/inv/delete" method="post">
  <fieldset class="form-container">
    <input type="hidden" name="inv_id"
    <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
    <% } %>>
    <label for="inv_make">Make:</label>
    <input name="inv_make" id="inv_make" type="text" required readonly value="<%- locals.inv_make %>">
    <label for="inv_model">Model:</label>
    <input name="inv_model" id="inv_model" type="text" required readonly value="<%- locals.inv_model %>">
    <label for="inv_year">Year:</label>
    <input name="inv_year" id="inv_year" type="text" required readonly value="<%- locals.inv_year %>">
    <label for="inv_price">Price:</label>
    <input name="inv_price" id="inv_price" type="text" pattern="^\d+(\.\d{1,2})?$" title="Enter a valid price (e.g., 10, 10.5, or 10.99)" required readonly value="<%- locals.inv_price %>">
    <button type="submit">Delete Vehicle</button>
  </fieldset>
</form>